<!DOCTYPE html>
<html>

<body>
    <h1>Upload a file</h1>
    <label for="myfile">Select a file:</label>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="myfile" name="myfile" />
        <br>
        <br>
        <input type="submit" value="Upload" />
    </form>
</body>

</html>